* {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  outline-style: none;
}

.header_right {
  text-align: right;
  float: right;
  background: #D3D3D3;
  color: #00000;
}
