* {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  outline-style: none;
}

.header_center {
  color: #00000;
  text-align: center;
}

.header_right {
  color: #00000;
  background-color: #D3D3D3;
  text-decoration: none;
  text-align: right;
  height: 1.2em;
  padding: 3px 6px;
  margin 10px 0px;
  border-left: 2px solid white;
  border-top: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}
