* {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  outline-style: none;
}

main {
  background-color: #F0F0F0;
}

header {
  background-color: #FF2424;
}

.header_center {
  color: #000;
  text-align: center;
  float: center;
}

a.header_right {
  color: #000;
  text-decoration: none;
  text-align: right;
  padding-right: 15px;
  position: absolute;
  right: 0;
}

a.header_right:hover {
  color: #000;
  text-decoration: underline;
}
